[submodule "vendor/plugins/spec_integration"]
	path = vendor/plugins/spec_integration
	url = git://github.com/aiwilliams/spec_integration.git
[submodule "vendor/plugins/vizres"]
	path = vendor/plugins/vizres
	url = git://github.com/pelargir/vizres.git
[submodule "vendor/plugins/dataset"]
	path = vendor/plugins/dataset
	url = git://github.com/aiwilliams/dataset.git
[submodule "vendor/extensions/multi_site"]
	path = vendor/extensions/multi_site
	url = git://github.com/radiant/radiant-multi-site-extension.git
[submodule "vendor/extensions/language_redirect"]
	path = vendor/extensions/language_redirect
	url = git://github.com/intinig/radiant_language_redirect_extension.git
